-# .header
-#   .header__logo
-#     BaseballWear
-#   .header__link
-#     .header__link__login
-#       = link_to 
-#         ログイン
-#     .header__link__registration
-#       = link_to 
-#         登録