.post{
  height: calc(100vh-90px);
  &__top{
    font-size: 25px;
    align-items: center;
    text-align: center;
    font-family: "impact";
  }
  &__form{
    text-align: center;
    padding: 30px;
    
    &__image{
      display: block;
      padding: 30px;
    }
  
    &__team{
      display: block;
      padding: 30px;
    }

    &__text{
      display: block;
      padding: 30px;
    }
  }
}
  
