.post{
  
  &__top{
    font-size: 25px;
    align-items: center;
    text-align: center;
    font-family: "impact";
  }



  &__form{
    height: 100vh;
    margin-top: 30px;
    text-align: center;
    &__image{
      font-size: 20px;
      line-height: 80px;
    }
    &__blank{
      width: 50vw;
      height: 40px;
    }
    &__team{
      width: 50px;
    }
  }
  
}

.new_post{
  height: 100vh;
}