.header {
  height: 90px;
  border-bottom:20px solid #ffa500;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  &__logo {
    font-size: 36px;
    padding-left: 33px;
    line-height: 90px;   
    font-family: "impact";
  }
  &__link{
    font-size: 18px;
    padding-right: 20px;
    display: flex;
    line-height: 90px;
    font-family: "NewGulim";
    &__login{
      padding-right: 10px;
    }
  }
}

.main{
  height: calc(100vh-90px);
  width: 100%;
  
  &__searchform{
    padding-top: 30px;
    text-align: center;
    &__input{
      width: 400px;
    }
    &__btn{
      width: 50px;
      height: 25px;
    }
  }
  &__text{
    font-size: 23px;
    font-family: Impact;
    padding-left: 33px;
    padding-top: 30px;
  }
  &__post{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__image{
      width: 31%;
      height: 250px;
      padding-left: 33px;
    }
  }
}