.main{
  background-color: #f5f6f7;
  // text-align: center;
  &__searchform{
    padding-bottom: 20px;
  }
  &__manuplate{
    text-align-last: center;
  }
  &__content{
    height: 100vh;
    padding-left: 40px;
    display: flex;
    
    &__image{
      padding-right: 20px;
      height: 400px;
      text-align: center;
    }
    &__text{
      width: 350px;
      font-size: 18px;
      padding-left: 30px;
      p{
        
        margin-top: 20px;
      }
    }
  &__comment{
    width: 300px;
    padding-top: 50px;
  }
  }
}