.topmain{
  height: 100vh;
  background-image: url(http://gahag.net/img/201608/06s/gahag-0113640322-1.jpg);
  background-size: cover;
  &__image{
    height: 100%;
    background: rgba(255,255,255,0.5);
    &__text{
      color: rgb(255,102,0);
      font-family: "impact";
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 50px;
      padding-top: 250px; 
    }
    &__link{
      text-align: center;
      padding-top: 380px;
      font-size: 30px;
      padding-right: 200px;
      
      a{
        padding-right: 30px;
        color: white;
        font-family: "impact";

      }

    }
  }
}
