// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow{
  width: 100vw;
  text-align: center;
  display: flex;
  background-color: #f5f6f7;
  height: 100vh;
  &__main{
    width: 50%;
  }
  &__follower{
    width: 50%;
  }
  
}